html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	
	background-image: url(../img/galaxy.jpg);
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-flow: row nowrap;
	
	background-color: #bdbdbd;
}

section {
	flex-basis: 57%;
	margin-right: 10%;
	
}


aside {
	flex-basis: 33%;
	
}
p, [for="abtype"] {
	margin-bottom: 0;
	margin-top: 2rem;

}

fieldset {
border-radius: 10px;

margin: 2rem;


}
h1,h3{
	color: #8a1755;
}
h1,legend,h3 {
	font-family: 'Architects Daughter', cursive;
	
	
}

legend {
	font-weight: bold;
	font-size: 1.3rem;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	color: #8a1755;
}

label {
	display: block;
	padding-bottom: 0.3rem;
}

textarea {
	height: 10rem;
	padding: 1rem;
}

select {
	font-size: 1rem;
}

button {
	font-size: 1rem;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 900;
	margin-left: 2rem;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	background-color: black;
	color:white;
}

button:hover {
	background-color: #4C6174;
	color:chartreuse;
	font-weight: 900;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
input:not([type="radio"]):not([type="checkbox"]),textarea,select{
	display: block;
	margin-bottom: 2rem;
	width: 20rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	padding: 0 1rem;
	border-radius: 10px;
	border:none;
	background-color: #E8F0FE;
}










